.recipe-view-all {
  padding: 10px;

  .header {
    text-align: center;
    margin: 5px 0;

    h2 {
      margin-top: 0;
    }
  }


  .basic {
    float: left;
    width: 100%;
  }

  .ingredients-wrp {
    float: left;
    margin-top: 25px;

    label {
      font-weight: bold;
    }

    ul {
      margin-top: 5px;
    }
  }
}