.recipe-view-all {
  padding: 10px;

  .header {
    text-align: center;
    margin: 5px 0;

    h2 {
      margin-top: 0;
    }
  }


  .basic {
    float: left;
    width: 100%;
  }

  .ingredients-wrp {
    float: left;
    margin-top: 25px;

    label {
      font-weight: bold;
    }

    ul {
      margin-top: 5px;
    }
  }
  .meta{
    font-size: 1em;
    color: rgba(0,0,0,.4);
  }

  @media (max-width: 625px) {
    .description{
      float: left;
    }

    .photo-wrp{
      overflow: auto;
      display: flex;
      justify-content: center;
    }

  }
}